{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Pod Kasvault
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Type=forking
RemainAfterExit=yes
User=root
Group=root
EnvironmentFile={{file_dst_pod_kasvault_default}}
Restart=always
TimeoutStartSec=60
TimeoutStopSec=15
ExecStart=/usr/bin/podman play kube \
    --network slirp4netns:port_handler=slirp4netns \
{% if not (pod_kasvault_registry_username == "") %}
    --creds {{pod_kasvault_registry_username}}:'{{pod_kasvault_registry_password}}' \
{% endif %}
{% if (pod_kasvault_log_driver == "journald") %}
    --log-driver journald \
{% endif %}
    {{file_dst_pod_kasvault_yaml}}
ExecStop=/usr/bin/podman pod stop --time 10 pod_kasvault
ExecStopPost=/usr/bin/podman pod rm --force pod_kasvault

[Install]
WantedBy=multi-user.target
