{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Lightning Network Daemon
After=syslog.target network.target

[Service]
Type=simple
User=lnd
Group=lnd
EnvironmentFile=/etc/default/lnd
ExecStart={{file_dst_lnd_current_link}}/lnd $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
