---

- name: 'include variables'
  include_vars: "{{item}}"
  with_first_found:
    - files:
      - "vars/{{ansible_distribution_major_version}}.yml"
      - 'vars/main.yml'
      errors: 'ignore'
  tags:
    - lnd

- name: 'group create lnd'
  group:
    state: 'present'
    name: "{{group_name_lnd}}"
    system: "{{group_system_lnd}}"
  tags:
    - lnd

- name: 'user create lnd'
  user:
    state: 'present'
    name: "{{user_name_lnd}}"
    comment: "{{user_comment_lnd}}"
    group: "{{user_group_lnd}}"
    append: "{{user_append_lnd}}"
    createhome: "{{user_home_create_lnd}}"
    move_home: "{{user_home_move_lnd}}"
    remove: "{{user_home_remove_lnd}}"
    force: "{{user_home_force_lnd}}"
    password: "{{user_password_lnd}}"
    update_password: "{{user_password_update_lnd}}"
    shell: "{{user_shell_lnd}}"
    system: "{{user_system_lnd}}"
  tags:
    - lnd

- name: 'file create app.dir'
  file:
    state: 'directory'
    path: "{{file_dst_app_dir}}"
    mode: "{{file_mode_app_dir}}"
    owner: "{{file_owner_app_dir}}"
    group: "{{file_group_app_dir}}"
  tags:
    - lnd

- name: 'file create lnd_app.dir'
  file:
    state: 'directory'
    path: "{{file_dst_lnd_app_dir}}"
    mode: "{{file_mode_lnd_app_dir}}"
    owner: "{{file_owner_lnd_app_dir}}"
    group: "{{file_group_lnd_app_dir}}"
  tags:
    - lnd

- name: 'file create data.dir'
  file:
    state: 'directory'
    path: "{{file_dst_data_dir}}"
    mode: "{{file_mode_data_dir}}"
    owner: "{{file_owner_data_dir}}"
    group: "{{file_group_data_dir}}"
  tags:
    - lnd

- name: 'file create lnd_data.dir'
  file:
    state: 'directory'
    path: "{{file_dst_lnd_data_dir}}"
    mode: "{{file_mode_lnd_data_dir}}"
    owner: "{{file_owner_lnd_data_dir}}"
    group: "{{file_group_lnd_data_dir}}"
  tags:
    - lnd

- name: 'file create lnd_log.dir'
  file:
    state: 'directory'
    path: "{{file_dst_lnd_log_dir}}"
    mode: "{{file_mode_lnd_log_dir}}"
    owner: "{{file_owner_lnd_log_dir}}"
    group: "{{file_group_lnd_log_dir}}"
  tags:
    - lnd

- name: 'file create lnd_src.dir'
  file:
    state: 'directory'
    path: "{{file_dst_lnd_src_dir}}"
    mode: "{{file_mode_lnd_src_dir}}"
    owner: "{{file_owner_lnd_src_dir}}"
    group: "{{file_group_lnd_src_dir}}"
  tags:
    - lnd

- name: 'file download lnd.tar.gz'
  get_url:
    url: "{{file_src_lnd_tar_gz}}"
    dest: "{{file_dst_lnd_tar_gz}}"
    mode: "{{file_mode_lnd_tar_gz}}"
    owner: "{{file_owner_lnd_tar_gz}}"
    group: "{{file_group_lnd_tar_gz}}"
    checksum: "{{file_checksum_lnd_tar_gz}}"
  tags:
    - lnd

- name: 'file unarchive lnd.tar.gz'
  unarchive:
    src: "{{file_src_lnd}}"
    dest: "{{file_dst_lnd}}"
    owner: "{{file_owner_lnd}}"
    group: "{{file_group_lnd}}"
    creates: "{{file_creates_lnd}}"
    remote_src: 'yes'
  tags:
    - lnd

- name: 'file create lnd-current.link'
  file:
    state: 'link'
    src: "{{file_src_lnd_current_link}}"
    path: "{{file_dst_lnd_current_link}}"
    owner: "{{file_owner_lnd_current_link}}"
    group: "{{file_group_lnd_current_link}}"
  tags:
    - lnd

- name: 'file create lnd_conf.dir'
  file:
    state: 'directory'
    path: "{{file_dst_lnd_conf_dir}}"
    mode: "{{file_mode_lnd_conf_dir}}"
    owner: "{{file_owner_lnd_conf_dir}}"
    group: "{{file_group_lnd_conf_dir}}"
  tags:
    - lnd

- name: 'file create lnd.service'
  template:
    src: "{{file_src_lnd_service}}"
    dest: "{{file_dst_lnd_service}}"
    mode: "{{file_mode_lnd_service}}"
    owner: "{{file_owner_lnd_service}}"
    group: "{{file_group_lnd_service}}"
  notify: 'command systemctl daemon-reload'
  tags:
    - lnd

- name: 'stat file monit.d'
  stat:
    path: "{{file_dst_monit_d}}"
  register: register_monit_d
  when: (lnd_monitor_monit_state is match('true|yes|enable'))
  tags:
    - lnd

- name: 'file create monit.d'
  file:
    state: 'directory'
    path: "{{file_dst_monit_d}}"
    mode: "{{file_mode_monit_d}}"
    owner: "{{file_owner_monit_d}}"
    group: "{{file_group_monit_d}}"
  when: (lnd_monitor_monit_state is match('true|yes|enable')) and (register_monit_d.stat.exists == False)
  tags:
    - lnd

- name: 'command check service monit'
  shell: "{{command_cmd_check_service_monit}}"
  register: register_check_service_monit
  changed_when: (register_check_service_monit.rc > 1)
  failed_when: (register_check_service_monit.rc > 1)
  check_mode: 'no'
  when: (lnd_monitor_monit_state is match('true|yes|enable'))
  tags:
    - lnd

- name: 'meta flush handlers'
  meta: 'flush_handlers'
  tags:
    - lnd
