---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - pod_bitcoin_core

- name: create file pod_bitcoin_core.yaml
  template:
    src: "{{file_src_pod_bitcoin_core_yaml}}"
    dest: "{{file_dst_pod_bitcoin_core_yaml}}"
    mode: "{{file_mode_pod_bitcoin_core_yaml}}"
    owner: "{{file_owner_pod_bitcoin_core_yaml}}"
    group: "{{file_group_pod_bitcoin_core_yaml}}"
  notify: restart service pod_bitcoin_core
  tags:
    - pod_bitcoin_core

- name: create file pod_bitcoin_core.default
  template:
    src: "{{file_src_pod_bitcoin_core_default}}"
    dest: "{{file_dst_pod_bitcoin_core_default}}"
    mode: "{{file_mode_pod_bitcoin_core_default}}"
    owner: "{{file_owner_pod_bitcoin_core_default}}"
    group: "{{file_group_pod_bitcoin_core_default}}"
  notify: restart service pod_bitcoin_core
  tags:
    - pod_bitcoin_core

- name: create file pod_bitcoin_core-bitcoin-core.cfg
  template:
    src: "{{file_src_pod_bitcoin_core_bitcoin_core_cfg}}"
    dest: "{{file_dst_pod_bitcoin_core_bitcoin_core_cfg}}"
    mode: "{{file_mode_pod_bitcoin_core_bitcoin_core_cfg}}"
    owner: "{{file_owner_pod_bitcoin_core_bitcoin_core_cfg}}"
    group: "{{file_group_pod_bitcoin_core_bitcoin_core_cfg}}"
  notify:
    - validate monit
    - reload monit
  when: (pod_bitcoin_core_monit_state == True)
  tags:
    - pod_bitcoin_core

- name: remove file pod_bitcoin_core-bitcoin-core.cfg
  file:
    state: absent
    path: "{{file_dst_pod_bitcoin_core_bitcoin_core_cfg}}"
  notify: reload monit
  when: (pod_bitcoin_core_monit_state == False)
  tags:
    - pod_bitcoin_core

- name: create file pod_bitcoin_core.nft
  template:
    src: "{{file_src_pod_bitcoin_core_nft}}"
    dest: "{{file_dst_pod_bitcoin_core_nft}}"
    mode: "{{file_mode_pod_bitcoin_core_nft}}"
    owner: "{{file_owner_pod_bitcoin_core_nft}}"
    group: "{{file_group_pod_bitcoin_core_nft}}"
  notify:
    - validate nftables
    - reload nftables
  when: (pod_bitcoin_core_nftables_state == True)
  tags:
    - pod_bitcoin_core

- name: remove file pod_bitcoin_core.nft
  file:
    state: absent
    path: "{{file_dst_pod_bitcoin_core_nft}}"
  notify: reload nftables
  when: (pod_bitcoin_core_nftables_state == False)
  tags:
    - pod_bitcoin_core

- name: start service pod_bitcoin_core
  service:
    state: started
    enabled: True
    name: "{{service_name_pod_bitcoin_core}}"
    daemon_reload: True
  tags:
    - pod_bitcoin_core
