{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Pod btcd
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Type=forking
RemainAfterExit=yes
User=pod_btcd
Group=pod_btcd
EnvironmentFile={{file_dst_pod_btcd_default}}
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60
ExecStart=/usr/bin/podman play kube \
{% if not (pod_btcd_registry_username == "") %}
    --creds {{pod_btcd_registry_username}}:'{{pod_btcd_registry_password}}' \
{% endif %}
{% if (pod_btcd_log_driver == "journald") %}
    --log-driver journald \
{% endif %}
    {{file_dst_pod_btcd_yaml}}
ExecStop=/usr/bin/podman pod stop --time 15 pod_btcd
ExecStopPost=/usr/bin/podman pod rm --force pod_btcd

[Install]
WantedBy=multi-user.target
