#-------------------------------------------------------------------------------
#                             ANSIBLE MANAGED FILE
#-------------------------------------------------------------------------------

#-------------------------------------------------------------------------------
# INFORMATION
#-------------------------------------------------------------------------------
#
# Name   : bitcoind.service
# Type   : systemd unit file
# Role   : bitcoin_core
#
# Authors: liv community
# License: Simplified BSD License
#
#-------------------------------------------------------------------------------

[Unit]
Description=Bitcoin Core
After=syslog.target network.target

[Service]
Type=forking
PIDFile={{file_dst_bitcoind_data_dir}}/bitcoind.pid
User=bitcoind
Group=bitcoind
EnvironmentFile={{file_dst_bitcoind_sysconfig}}
ExecStart={{file_dst_bitcoin_current_link}}/bin/bitcoind $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
