{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Core Lightning Network Daemon
After=syslog.target network.target

[Service]
Type=simple
User={{user_name_lightningd}}
Group={{group_name_lightningd}}
EnvironmentFile={{file_dst_lightningd_default}}
PIDFile=/data/lightningd/lightningd-bitcoin.pid
ExecStart={{file_dst_clightning_current_link}}/usr/bin/lightningd $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
