{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=Pod Bitcoin-Core
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Type=forking
RemainAfterExit=yes
User=pod_bitcoin_core
Group=pod_bitcoin_core
EnvironmentFile={{file_dst_pod_bitcoin_core_default}}
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60
ExecStart=/usr/bin/podman play kube \
{% if not (pod_bitcoin_core_registry_username == "") %}
    --creds {{pod_bitcoin_core_registry_username}}:'{{pod_bitcoin_core_registry_password}}' \
{% endif %}
{% if (pod_bitcoin_core_log_driver == "journald") %}
    --log-driver journald \
{% endif %}
    {{file_dst_pod_bitcoin_core_yaml}}
ExecStop=/usr/bin/podman stop --time 15 pod_bitcoin_core
ExecStopPost=/usr/bin/podman pod rm --force pod_bitcoin_core

[Install]
WantedBy=multi-user.target
