---

- name: include variables
  include_vars: "{{lookup('first_found', params)}}"
  vars:
    params:
      files:
        - "vars/{{ansible_distribution_major_version}}.yml"
        - 'vars/main.yml'
  tags:
    - pod_lnd

- name: create file pod_lnd.yaml
  template:
    src: "{{file_src_pod_lnd_yaml}}"
    dest: "{{file_dst_pod_lnd_yaml}}"
    mode: "{{file_mode_pod_lnd_yaml}}"
    owner: "{{file_owner_pod_lnd_yaml}}"
    group: "{{file_group_pod_lnd_yaml}}"
  no_log: True
  tags:
    - pod_lnd

- name: create file pod_lnd.default
  template:
    src: "{{file_src_pod_lnd_default}}"
    dest: "{{file_dst_pod_lnd_default}}"
    mode: "{{file_mode_pod_lnd_default}}"
    owner: "{{file_owner_pod_lnd_default}}"
    group: "{{file_group_pod_lnd_default}}"
  tags:
    - pod_lnd

- name: remove file pod_lnd-lnd.cfg
  file:
    state: absent
    path: "{{file_dst_pod_lnd_lnd_cfg}}"
  notify: reload monit
  tags:
    - pod_lnd

- name: create file pod_lnd.nft
  template:
    src: "{{file_src_pod_lnd_nft}}"
    dest: "{{file_dst_pod_lnd_nft}}"
    mode: "{{file_mode_pod_lnd_nft}}"
    owner: "{{file_owner_pod_lnd_nft}}"
    group: "{{file_group_pod_lnd_nft}}"
  notify:
    - validate nftables
    - reload nftables
  when: (pod_lnd_nftables_state == True)
  tags:
    - pod_lnd

- name: remove file pod_lnd.nft
  file:
    state: absent
    path: "{{file_dst_pod_lnd_nft}}"
  notify: reload nftables
  when: (pod_lnd_nftables_state == False)
  tags:
    - pod_lnd

- name: stop service pod_lnd
  service:
    state: stopped
    enabled: False
    name: "{{service_name_pod_lnd}}"
    daemon_reload: True
  tags:
    - pod_lnd
