{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=btcd
After=syslog.target network.target

[Service]
Type=simple
User=btcd
Group=btcd
EnvironmentFile={{file_dst_btcd_default}}
ExecStart={{file_dst_btcd_current_link}}/btcd $OPTIONS
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
