{{ansible_managed|comment(decoration='#')}}

[Unit]
Description=blockbook
After=syslog.target network.target

[Service]
User=blockbook
Group=blockbook
EnvironmentFile={{file_dst_blockbook_default}}
WorkingDirectory={{file_dst_blockbook_app_dir}}
ExecStart={{file_dst_blockbook}} $OPTIONS
LimitNOFILE=500000
LimitNPROC=500000

[Install]
WantedBy=multi-user.target
